
//HTMLHIGH5

//$primary: #d35400;
//$secondary: #34495e;
//$background: #fff;
//$text: #000;
//$primaryText: #fff;
//$secondaryText: #fff;

//LIGHT THEME
//$primary: #006494;
//$secondary: #262626;
//$background: #FFFFFF;
//$text: #262626;
//$primaryText: #FFFFFF;
//$secondaryText: #4392F1;

//DARK THEME
$primary: #006494;
$secondary: #2a4c71;
$background: #121212;
$text: #FFFFFF;
$primaryText: #FFFFFF;
$secondaryText: #0c0c0c;

// Navbar
$navbar-default-bg: $background;
// Body
$body-bg: $background;
// Panels
$panel-default-heading-bg: $background;




// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $primary;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $text;



// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);