#aboutUsContent{
  h1{
    color: $primary;
    text-align: center;
    font-size: 72px;
  }
  h2, p{
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  h2{
    color: $primary;
    font-size: 48px;
  }
  p{
    font-size: 20px;
    color: $secondary;
    font-weight: bold;
  }
}