body#adminBody{
  #adminHome{
    margin-top: 80px;
    background: url('textures/hexellence.png') #333b40;
    overflow-y: auto;
    h1{
      color: $primary;
      font-size: 72px;
      text-align: center;
      border-bottom: 1px solid $primary;
    }
  }
  #adminButtons {
    text-align: center;
    .buttonContainer {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      height: 150px;
    }
    .adminButton {
      width: 100%;
      height: 100%;
      background: url('textures/hexellence.png') #3498db;
      border-radius: 5px;
      a {

      }
      h2 {
        color: $primary;
        font-size: 36px;
        position: relative;
        line-height: 150px;
      }
    }
    .adminButton:hover{
      background: url('textures/hexellence.png') $primary;
      h2{
        color: $secondary;
      }
    }
  }
}

.adminFormContainer{
  margin-top: 80px;
  text-align: center;
  background-color: white;
  h1{
    font-size: 72px;
    color: $primary;
  }
  h2{
    font-size: 48px;
    color: $primary;
  }
  input{
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid #3498db;
    background: rgba(0,0,0,0);
  }
  input:focus{
    outline: none;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid $primary;
    background: rgba(0,0,0,0);
  }
  input, textarea, select{
    font-size: 24px;
    color: $secondary;
    margin-top: 5px;
    margin-bottom: 35px;
  }
  input, textarea, label{
    display: inline-block;
  }
  textarea{
    width: 50%;
    height: 500px;
  }

  label{
    font-size: 24px;
    color: $secondary;
  }
}

#adminStats{
  padding-top: 100px;
  padding-bottom: 100px;
  background: url('textures/hexellence.png') #000;
  h2{
    color: #3498db;
  }
  .graphContainer{
    height: 500px;
  }

  .graphSection{
    height: 560px;
    position: relative;
    display: block;
  }
  #tables{
    background: url('textures/hexellence.png') #000;
    color: white;
    h3{
      font-size: 50px;
    }
    .table{
      text-align: center;
      background: inherit;
      p{
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  form{
    color: white;
    text-align: center;
    label{
      margin-right: 15px;
    }
    input{
      color: black;
    }
  }
}