#contactContainer{
  text-align: center;
  margin-top: 80px;
  background-color:$background;
  padding: 100px 0;
}

.contactInput{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
  max-width: 100%;
}

.recaptchaContainer{
  width: 304px;
  height: 78px;
  margin: 0 auto;
}

#footerText{
  margin-top: 30px;
  font-size: 20px;
  .email{
    color: #00b33d;
    font-weight: bold
  }
}

.help-block{
  color: red;
}