#birthdayContainer{
  padding-top: 80px;
  text-align: center;
  h1#title{
    color: $primary;
  }

  .hiddenImage{
    margin: 10px;
    display: inline-block;
    height: 112px;
    width: 95px;
    transition-property: transform;
    transition-duration: 1s;
  }

  p{
    color: white;
  }

  .one{
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
  }
  .two{
    -webkit-animation:skewY 1.5s linear infinite;
    -moz-animation:skewY 1.5s linear infinite;
    animation:skewY 1.5s linear infinite;
  }
  .three{
    -webkit-animation:skewX 1.5s linear infinite;
    -moz-animation:skewX 1.5s linear infinite;
    animation:skewX 1.5s linear infinite;
  }
  .four{
    -webkit-animation:spin2 1.5s linear infinite;
    -moz-animation:spin2 1.5s linear infinite;
    animation:spin2 1.5s linear infinite;
  }
  .five{
    -webkit-animation:resize 1.5s linear infinite;
    -moz-animation:resize 1.5s linear infinite;
    animation:resize 1.5s linear infinite;
  }

  .special{
    -webkit-animation:special 1.5s linear infinite;
    -moz-animation:special 1.5s linear infinite;
    animation:special 1.5s linear infinite;
  }

  #chessBoardContainer{
    display: none;
    text-align: center;
    #board1{
      margin: 0 auto;
    }
  }

  #codeContainer{
    display: none;
    text-align: center;
    .codeInput{
      display: inline-block;
      margin: 10px;
      background: black;
      border: 1px solid white;
      text-align: center;
    }
  }

  #videoLink{
    color: $primary;
    font-size: 72px;
    margin: 30px;
    display: none;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-moz-keyframes skewY {
  50% { -moz-transform: skewY(60deg); }
  100% { -moz-transform: skewY(0deg); }
}
@-webkit-keyframes skewY {
  50% { -webkit-transform: skewY(60deg); }
  100% { -webkit-transform: skewY(0deg); }
}
@keyframes skewY {
  50% { -webkit-transform: skewY(60deg); transform:skewY(60deg); }
  100% { -webkit-transform: skewY(0deg); transform:skewY(0deg); }
}

@-moz-keyframes skewX {
  50% { -moz-transform: skewY(-60deg); }
  100% { -moz-transform: skewY(0deg); }
}
@-webkit-keyframes skewX {
  50% { -webkit-transform: skewY(-60deg); }
  100% { -webkit-transform: skewY(0deg); }
}
@keyframes skewX {
  50% { -webkit-transform: skewY(-60deg); transform:skewX(-60deg); }
  100% { -webkit-transform: skewY(0deg); transform:skewX(0deg); }
}

@-moz-keyframes resize {
  50% { -moz-transform: scale(2); }
  100% { -moz-transform: scale(1); }
}
@-webkit-keyframes resize {
  50% { -webkit-transform: scale(2); }
  100% { -webkit-transform: scale(1); }
}
@keyframes resize {
  50% { -webkit-transform: scale(2); transform:scale(2); }
  100% { -webkit-transform: scale(1); transform:scale(1); }
}

@-moz-keyframes special {
  25% {-moz-transform: translateY(-10px)}
  50% {-moz-transform: translateX(10px); }
  75% {-moz-transform: translateY(10px)}
  90% { -moz-transform: translateX(-10px); }
  100% { -moz-transform: translate(0,0);}
}
@-webkit-keyframes special {
  25% {-webkit-transform: translateY(-10px)}
  50% {-webkit-transform: translateX(10px); }
  75% {-webkit-transform: translateY(10px)}
  90% { -webkit-transform: translateX(-10px); }
  100% { -moz-transform: translate(0,0);}
}
@keyframes special {
  25% {-webkit-transform: translateY(-10px); transform: translateY(-10px)}
  50% {-webkit-transform: translateX(10px); transform: translateX(10px)}
  75% {-webkit-transform: translateY(10px);transform: translateY(10px)}
  90% { -webkit-transform: translateX(-10px); transform: translateX(-10px);}
  100% { -webkit-transform: translate(0,0); transform: translate(0,0);}
}