#faqContent{
  h1{
    color: $primary;
    text-align: center;
    font-size: 72px;
  }
  h2, p{
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  h2{
    color: $primary;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p{
    font-size: 20px;
    color: $secondary;
    font-weight: bold;
  }
  #intro{
    text-align: center;
  }
  a{
    color: $primary;
    text-decoration: underline;
  }
}