#homeContainer {
  background: url('images/textures/cross-lines.png') $background;
  text-align: center;
  margin-top: 80px;
  #jumbotron{
    margin-top: 15px;
    padding: 15px;
  }
  h2{
    font-size: 50px;
    color: $primary;
    //transition: all 0.5s;
  }
  .newestGameImage {
    text-align: center;
    line-height: 100%;
    color: $secondary;
    i{
      font-size: 50px;
      display: inline-block;
      cursor: pointer;
    }
  }
  .highlightImage {
    max-height: 100%;
    max-width: 100%;
    vertical-align: center;
    margin: 0 auto;
  }
  .show{
    display: inline-block !important;
    height: auto;
    width: auto;
  }
  .hide{
    display: none;
    height: 0;
    width: 0;
  }
  .smallGamePreview {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    .box {
      border: 2px solid $secondary;
      border-radius: 5px;
      border-spacing: 5px;
      img {
        width: 200px;
      }
      h3{
        color: $secondary;
      }
    }
  }

  .selected{
    background-color: $secondary;
    border: 0;
    transition: .5s;
    h3 {
      color: $secondaryText !important;
    }
  }

  #informationText{
    font-size: 18px;
    padding: 25px;
  }
}

.thumbnailContainer{
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}

#allGamesTitle{
  font-size: 72px;
  color: $primary;
  border-bottom: 1px solid $secondary;
  text-align: center;
}

.nav-primary{
  background-color: $primary;
}

#tables{
  vertical-align: bottom;
}


#jssor_1{
  @media(max-width: 980px) {
    margin-left: -15px !important;
  }
}

#siteDescription{
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
}