#leaderBoardContainer{
  background: $background;
  text-align: center;
  margin-top: 80px;
  h1{
    color: $primary;
    font-size: 60px;
  }
}

.topTable{
  //background: url('images/textures/cross-lines.png') $background;
  vertical-align: bottom;
}

.homepageTable{
  table{
    height: 950px;
  }

  caption{
    height: 92px;
  }
}