#partnersContent{
  text-align: center;
  padding: 100px;
  h1{
    color: $primary;
    text-align: center;
    font-size: 72px;
  }
  p{
    font-size: 20px;
    color: $secondary;
    font-weight: bold;
  }
  #intro{
    text-align: center;
  }
  a{
    color: $primaryText;
    text-decoration: underline;
  }
  ul{
    list-style-type: none;
  }
}