#profileTitle{
  color: $primary;
  font-size: 55px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
}

#profileHigh5Score{
  color: $secondary;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 48px;
  span{
    color: $primary;
  }
}
#profileRanking{
  color: $secondary;
  text-align: center;
  margin-top: 0;
  font-size: 40px;
  span{
    color: $primary;
  }
}

.bubbleContainer{
  text-align: center;
  margin-bottom: 15px;
}

.bubble{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: $primary;
  color: $primaryText;
  margin: 0 auto;
  box-shadow: 5px 5px 10px black;
  .attribute{
    color: $primaryText;
    font-size: 40px;
    margin-top: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
  }
  .description{
    font-size: 25px;
  }
}

#userProfile{
  background-color: $background;
}

.profileBox{
  background-color: $background;
}

#userCharts{

}

table#statsTable{
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  color: $secondary;
  .attribute{
    color: $primary;
  }
  tr:nth-child(even){
    background-color: rgba(52, 73, 94, .3);
  }
}

#userStats{
  background-image: inherit;
}

#userTrophies{
  position: relative;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  background-image: inherit;
  p{
    font-size: 50px;
    font-weight: bold;
    opacity: .8;
  }
}

#profileTopContainer{
  background-image: url('/images/textures/dark-circles.png');
  display: inline-block;
  background-color: $background;
  padding-bottom: 25px;
}

.logOrReg{
  text-align: center;
  font-size: 20px;
  a{
    color: $primary;
  }
}