#shortcutsContainer{
  padding-top: 80px;
  h1{
    text-align: center;
  }
  .step{
    padding: 10px 10%;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .shortcutName{
    color: white;
    font-size: 20px;
  }
  .shortcutImage{
    width: 100px;
  }
  .stepTitle{
    text-align: left;
  }
  .tutorial{
    text-align: center;
    p{
      font-size: 24px;
    }
  }
  .tutorialImage{
    max-width: 100%;
  }
}