#showGame {
  text-align: center;
  background-color: $background;
  margin-top: 80px;
  #gameContainer {
    background-color: inherit;
    padding-bottom: 20px;
  }
  h1#gameTitle {
    color: $primary;
    font-size: 72px;
  }
  #previewBackdrop {
    background: black url('../textures/45-degree-fabric-dark.png');
    text-align: center;
    position: relative;
    height: auto;
    padding: 20px;
  }
  #preview {
    height:300px;
    position: relative;
    #highlightImage {
      max-height:100%;
      max-width: 100%;
      vertical-align: middle;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .actionButtonContainer{
      position: relative;
      transform: translateY(-50%);
      vertical-align: middle;
      top: 50%;
    }
    a.actionButton {
      color: white;
      background-color: rgba(0, 0, 0, .8);
      padding: 20px;
      border-radius: 30px;
      font-size: 40px;
    }
    @media(max-width: 1200px){
      a.actionButton {
        font-size: 25px;
      }
    }
    #separator{
      height: 40px;
    }
    a.actionButton:hover {
      transition: .5s;
      background-color: rgba(255, 255, 255, 1);
      color: black;
    }
  }
  #playerStats{
    color: $primary;
    h3{
      font-size: 32px;
    }
  }

  article#gameDescription {
    font-size: 20px;
    color: $secondary;
    padding: 10px;
    h2 {
      color: $primary;
    }
  }

  #gameProps{
    #ratings, #stats{
      border: 2px solid $secondary;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .ratingStars{
      font-size: 32px;
      color: $primary;
      a{
        color: $primary;
      }
      a:hover{
        color: gold;
      }
    }
  }

  #gameStats {
    background-color: inherit;
  }
}

.percentileBarContainer{
  border: 1px solid $primary;
  width: 200px;
  height: 35px;
  margin: 0 auto;
}

.percentileBar{
  background: url('/images/textures/dark-circles.png') $primary;
  height: 100%;
}

#gameRatingsContainer{
  text-align: center;
}

#gameTags{
  text-align: center;
  padding: 10px;
}

.keywordBox{
  display: inline-block;
  padding: 0 5px;
  background-color: $secondary;
  margin: 5px;
  border-radius: 10px;
  h3{
    margin: 0 auto;
    font-size: 16px;
    color: $secondaryText;
    display: inline-block;
  }
}