.topTable{
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  vertical-align: bottom;
  caption{
    font-size: 24px;
    color: $primary;
    text-align: center;
  }
  table{
    width: 100%;
    margin: 0 auto;
    border: 1px solid $secondary;
    border-collapse: collapse;
  }
  tr{
    border-bottom: 1px solid $secondary;
    border-collapse: collapse;
  }
  td, th{
    padding: 3px;
    text-align: center;
    font-size: 20px;
    a{
      color: $primary;
    }
    a:hover{
      color: $secondary;
    }
  }
  th{
    color: $primary;
  }
  a.user, a.game{
    font-weight: bold;
    text-decoration: underline;
  }
}

.gameThumbnailContainer{
  padding: 3px;
  border-radius: 4px;
  border: 1px solid $secondary;
  overflow-y: auto;
  width: 108px;
  text-align: center;
}

.homepageTable{
  table{
    height: 950px;
  }

  caption{
    height: 92px;
  }
}

.gameThumbnail{
  width: 100px;
}