@import 'homePage';
@import 'showGame';
@import 'table';
@import 'trophy';
@import 'chart';
@import 'profile';
@import 'aboutUs';
@import 'contact';
@import 'faq';
@import 'admin';
@import 'play';
@import 'leaderBoards';
@import 'waldock';
@import 'partners';
@import 'esther';
@import 'shortcuts';

.navbar-inverse .navbar-nav > li > a{
  color: $primaryText;
}
.navbar-inverse .navbar-nav > li{
  background-color: $primary;
  color: $primaryText;
  transition: 500ms;
}

.navbar-inverse .navbar-nav > .menuItem:hover{
  background-color: $primaryText;
  transition: 500ms;
  color: $primary;
  a{
    color: $primary;
  }
}

.themePanel{
  background: $background;
}

.panel-heading{
  color: $text !important;
}

@media(min-width: 768px){
  .navbar-inverse .navbar-nav > li {
    height: 80px;
    a {
      line-height: 70px;
    }
  }
}

.footer-secondary{
  background-color: $secondary;
  color: $secondaryText;
}

body{
  color: $text;
  background: $background;
}

.menuEmphasized{
  font-weight: bold;
  font-size: 1.1em;
}

body, html{
  max-width: 100%;
  overflow-x: hidden;
}

//.boxAd{
//  display: inline-block !important;
//  width: 336px !important;
//  height: 280px !important;
//  text-align: center !important;
//  p{
//    position: relative !important;
//    color: red !important;
//    top: 50% !important;
//    transform: translateY(-50%) !important;
//    font-weight: bold !important;
//    display: none;
//  }
//}