.trophyContainerLarge{
  height: 100px;
  width: 100px;
  padding: 5px;
  display: inline-block;
  position: relative;
}

.trophyImageLarge {
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
}

.trophyImageLock{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('/images/textures/cross-lines.png') rgba(0,0,0,.5);
  color: white;
  font-size: 50px;
  line-height: 100px;
}
