#waldock {
  .homeColumn{
    vertical-align: center;
  }

  #adminButtons{
    font-size: 32px;
    color: $primary;
  }

  .playerCard {
    //width: 100%;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    .playerName {
      color: $primary;
      font-weight: bold;
      font-size: 32px;
    }
    color: black;
    background-color: #eee;
    .emphasized{
      color: red;
      font-size: 24px;
      font-weight: bold;
    }
    margin-bottom: 10px;
  }

  .waldock{
    background-color: #c8ff96;
  }

  .dead{
    background-color: #ff7a88;
  }

  .waldockForm{
    text-align: center;
    font-size: 24px;
    a {
      text-decoration: underline !important;
    }
  }
}